/* Set css variables */
:root { 
  --light-bg-color1: #fcfff0;
  --light-bg-color2: #dfd;
  --light-text-color: #331100;
  --dark-bg-color1:rgb(18, 18, 18);
  --dark-bg-color2: #22223c;
  --dark-text-color: #fbfbff;
  --mode-dependent-color: darkgreen;
}

* {
    box-sizing: border-box;
  }
body {
    font-family: Calibri;
    font-size: 22px;
    transition: background-color 1s;
    transition-timing-function: ease-in;
}
/* Define dark mode behavior for the body element */
.dark-mode {
  background: linear-gradient(90deg, var(--dark-bg-color1), var(--dark-bg-color2));
  color: var(--dark-text-color);
  svg path {
      fill: var(--dark-text-color);
  }
}
/* Define light mode behavior for the body element */
.light-mode {
  background: linear-gradient(90deg, var(--light-bg-color1), var(--light-bg-color2));
  color: var(--light-text-color);
  svg path {
      fill: var(--light-text-color);
  }
}
/* utilize the ugliest text-decoration you'll ever see (which will make the user hover over) */
.user-name-span {
  font-family: Arial;
  color: var(--mode-dependent-color);
  text-decoration: underline wavy
}
.user-name-span:hover {
  font-family: Arial;
  color: darkblue;
}
.contrast-icon {
    position: absolute;
    top: 25px;
    right: 25px;
}
li {
    list-style-type: none;
}
.icon-button {
  border: none;
  background: none;
}
.app {
  text-align: center;
}

.row::after {
content: "";
clear: both;
display: table;
}

img {
  max-width: 100%;
  height: auto;
}
a.media-link {
  margin: 1rem;

}
a.media-link img{
  width: 1.5rem;
  vertical-align: middle;
  margin-right: 0.2rem;
}
a {
  color: var(--mode-dependent-color);
  text-decoration: none;
}
a:visited {
  color: var(--mode-dependent-color);
  text-decoration: none;
}

/* Set responsive design rules */
[class*="col-"] {
float: left;
padding: 15px;
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }